go 1.21.5

use (
    ./
    
    ./internal
    ./internal/arpPoison
    ./internal/bruteforce
    ./internal/chat
    ./internal/ddos
    ./internal/portScanner
    ./internal/siteMapper
    ./internal/sniffer
    ./internal/trojanCreator
    ./internal/userRecon
    
    ./pkg
    ./pkg/ascii
    ./pkg/console
    ./pkg/jsonUtils
    ./pkg/pool
    ./pkg/progressbar
    ./pkg/system
    ./pkg/tcp
)