go 1.23.0

use (
	./

	./internal
	./internal/bruteforce
	./internal/chat
	./internal/findConnected
	./internal/portScanner
	./internal/siteMapper
	./internal/sniffer
	./internal/trojanCreator
	./internal/userRecon

	./pkg
	./pkg/ascii
	./pkg/console
	./pkg/files
	./pkg/jsonUtils
	./pkg/progressbar
	./pkg/system
	./pkg/tcp
)
